.home-button {
  text-decoration: none;
  color: rgba(0,0,0,.9);
}

.link {
  text-decoration: none;
  color: rgba(0,0,0,.7);
  padding-right: 20px;
}

input {
  color: grey;
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 100%;
}